########################################
# 🔗 Réseau
########################################
VITE_NETWORK=devnet
VITE_DEVNET_URL=http://127.0.0.1:22973
VITE_TESTNET_URL=https://node.testnet.alephium.org
VITE_MAINNET_URL=https://node.mainnet.alephium.org
VITE_LOTTERY_GROUP_INDEX=0

########################################
# 🔑 Comptes publics
########################################
VITE_ADRESSE_OWNER=<owner_public_address>

########################################
# 📜 Contrats
########################################
VITE_CONTRACT_ADDRESS=<contract_address>
VITE_LOTTERY_CONTRACT_ADDRESS=<lottery_contract_address>
